body {
  font-family: 'Lato', sans-serif;
}

.navbar {
  margin-bottom: 0;
  background-color: #00688B;
  z-index: 9999;
  border: 0;
  font-size: 18px !important;
  line-height: 1.5 !important;
  letter-spacing: 2px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #00688B !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.jumbotron {
  background-color: #ffffff;
  color: #00688B; /* Dark Sky Blue */
  padding: 100px 25px;
  background-image: url('../images/desk.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 800px;
  padding-top: 230px;
}

.top-divider {
    width: 400px;
    border-top: 3px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.main-content {
  margin-top: -30px;
  padding: 25px;
  border-top: 10px solid #00688B;
  border-left: 10px solid #00688B;
  border-right: 10px solid #00688B;
  border-bottom: 10px solid #00688B;
}

.main-content p {
  font-size: 18px;
}

.about {
  margin-bottom: 25px;
  min-height: 300px;
}

.about h1 {
  text-align: center;
}

.about img {
  width: 80%;
  border-radius: 25%;
  display: block;
  margin: auto;

}

.portfolio {
  background-color: lightgray;
  margin-bottom: 25px;
  min-height: 300px;
}

.portfolio h1 {
  text-align: center;
}

.contact {
  margin-bottom: 25px;
  min-height: 300px;
}

.contact h1 {
  text-align: center;
}

form input {
  width: 50%;
  padding: 5px;
  display: block;
  margin: 5px;
}

form textarea {
  width: 50%;
  height: 200px
}

#bottom-splash {
  background-color: #ffffff;
  color: #00688B; /* Dark Sky Blue */
  background-image: url('../images/desk.jpg');
  background-repeat: no-repeat;
  background-position: center;
  /*background-attachment: fixed;*/
  height: 300px;
}

#bottom-splash h1{
  font-size: 78px;
  text-align: center;
  line-height: 250px;
  height: 250px;
  text-shadow: 1px 2px #000000;
}

.bottom-splash-left {
  /*padding-top: 25px;*/
}

.bottom-splash-right {
  padding-top: 120px;
}

aside {
  margin-top: 200px;
  height: 800px;
  text-align: center;
}

aside h2,h3 {
  color: #00688B;
}

#john-pic {
  width: 60%;
  border-radius: 25%;
}

aside a {
  font-size: 28px;
}

.content {
  margin-top: 50px;
  padding-right: 150px !important;
  padding-bottom: 100px !important;
}

.content p {
  font-size: 18px;
}

.content img {
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content li {
  font-size: 18px;
}

.code {
  background-color: #333333;
  color: #FCFBE3;
  padding: 5px;
  font-family: 'Source Code Pro', monospace;
}

.code-inline {
  background-color: #333333;
  color: #FCFBE3;
  padding-left: 2px;
  padding-right: 2px;
  font-family: 'Source Code Pro', monospace;
}

table {
  width: 100%;
}

th {
  font-size: 22px;
  background-color: #00688B;
  color: white;
}

td {
  font-size: 18px;
}

th, td {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

tr:hover {
  /*background-color: #f5f5f5;*/
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

footer {
  padding-top: 40px;
  font-size: 20px;
  text-align: center;
  background-color: lightgray;
  min-height: 100px;
}
