body {
  font-family: 'Lato', sans-serif;
}

.navbar {
  margin-bottom: 0;
  background-color: #00688B;
  z-index: 9999;
  border: 0;
  font-size: 18px !important;
  line-height: 1.5 !important;
  letter-spacing: 2px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #00688B !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.jumbotron {
  background-color: #ffffff;
  color: #00688B; /* Dark Sky Blue */
  padding: 100px 25px;
  background-image: url('images/desk.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 800px;
  padding-top: 230px;
}

.top-divider {
    width: 400px;
    border-top: 3px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.content {
  margin-top: -30px;
  padding: 25px;
  border-top: 10px solid #00688B;
  border-left: 10px solid #00688B;
  border-right: 10px solid #00688B;
  border-bottom: 10px solid #00688B;
}

.content p {
  font-size: 18px;
}

.about {
  margin-bottom: 25px;
  min-height: 300px;
}

.about h1 {
  text-align: center;
}

.about img {
  width: 80%;
  border-radius: 25%;
  display: block;
  margin: auto;

}

.portfolio {
  background-color: lightgray;
  margin-bottom: 25px;
  min-height: 300px;
}

.portfolio h1 {
  text-align: center;
}

.contact {
  margin-bottom: 25px;
  min-height: 300px;
}

.contact h1 {
  text-align: center;
}

#bottom-splash {
  background-color: #ffffff;
  color: #00688B; /* Dark Sky Blue */
  background-image: url('images/desk.jpg');
  background-repeat: no-repeat;
  background-position: center;
  /*background-attachment: fixed;*/
  height: 300px;
}

#bottom-splash h1{
  font-size: 78px;
  text-align: center;
  line-height: 250px;
  height: 250px;
  text-shadow: 1px 2px #000000;
}

.bottom-splash-left {
  /*padding-top: 25px;*/
}

.bottom-splash-right {
  padding-top: 120px;
}

footer {
  padding-top: 40px;
  font-size: 20px;
  text-align: center;
  background-color: lightgray;
  min-height: 100px;
}

/*<div style="text-align:center;line-height:300px;height:300px;font-size:78px;">Text Content</div>*/
