---
layout: default
---
<div class="content-from-file">
<aside class="col-md-3">
  <img src= "/images/john.jpg" id="john-pic">
  <hr class="aside-divider">
  <h2>John Pickett</h2>
  <h3>Full Stack Web Developer</h3>
  <hr class="aside-divider">
  <!-- <ul id="page-top-ul" class="list-inline sidebar-buttons">
    <li>
        <a href="https://github.com/john-pickett" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/johnpickett1/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
    </li>
  </ul>
  <ul class="list-inline sidebar-buttons">
    <li>
        <a href="https://twitter.com/JohnPickett" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
    </li>
    <li>
      <a href="/contact" class="btn btn-default btn-lg"><i class="fa fa-envelope-o fa-fw"></i> <span class="network-name">Contact</span></a>
  </li>
  </ul> -->
</aside>

<div class="col-md-9 content">

{{ content }}

</div>
</div>
